#yourFridge{
    margin-left: 20%;
}

#fridgeTable th{
    border: 1px solid black;
    padding: 10px;
}
#fridgeTable td{
    border: 1px solid black;
}
#fridgeTable{
    border: 1px solid black;
    border-collapse: collapse;
    margin-right: 0;
    margin-left: 10%;
}
.fridgeContainer{
    overflow:hidden;
    /* background-image: url(https://thumbs.dreamstime.com/b/wood-table-top-blur-kitchen-room-background-montage-product-display-design-key-visual-layout-cooking-concept-99523227.jpg); */
    height:max-content;
}
.tableContainer{
    float:left;
    width: 70%;
}
.fridgeBtn{
    float: right;
    margin-right:20px;
    height: 70px;
    width: 130px;
    font-size: 20px;
    color: white;
    background-color: navy;
    border-radius: 10px;
}
.fridgeBtn:hover{
    background-color: blue;
}
#protein{
    background-color: lightyellow;
}
.proteinTd:hover{
    background-color: yellow;
}
#vegetable{
    background-color: lightgreen;
}
.vegetableTd:hover{
    background-color: green;
}
#grain{
    background-color: lightblue;
}
.grainTd:hover{
    background-color: blue;
    color: white;
}
#fruit{
    background-color: lightcoral;
}
.fruitTd:hover{
    background-color: red;
    color: white;
}
#dairy{
    background-color: bisque;
}
.dairyTd:hover{
    background-color: rgb(184, 101, 0);
}
#other{
    background-color: aliceblue;
}
.otherTd:hover{
    background-color: rgba(240, 248, 255, 0);
}
#fridgeText{
    margin: 0;
    margin-bottom: 50px;
    margin-left: 12%;
    font-size: 15px;
    color: white;
    background-color: black;
    width: 300px;
}